.nav-bar {
    margin: 0px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.nav-bar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.nav-bar ul li {
    margin-right: 50px;
}

.nav-bar ul li a {
    color: #919BBE;
    text-decoration: none;
    font-size: 14px;
}

#landing-page-title {
    font-size: 26px;
    color: #37447E;
}